/** Mobile Button */

.menu-toggle{
    position: absolute;
    top:0;
    right:3.125rem;
    height:2rem;
    width:auto;
    padding:0 0.5rem;
    display: none;
    background:none;
    border:0.125rem solid #dddddd;
    justify-content: center;
    align-items: center;
    svg{
        width: 0.9rem;
        height: 0.9rem;
    }
    span{
        font-size: 0.75rem;
    }

    &:hover{
        background-color: #006298;
        border-color: #006298;
        color: #ffffff;
    }
}

/** Main Nav */
.nav-menu{
    position: relative;
    background-color: #ffffff;
    display: none;
    margin-top: 1rem;
    left: -1.5rem;
    width: calc(100% + 3rem);
    margin-bottom: -1rem;

    @media (min-width:992px){
        display: block;
        position: relative;
        left: auto;
        width: auto;
        margin-bottom: 0;
        margin-left: auto;
    }

    .menu_list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: 100%;
        padding-left:0;
        list-style-type: none;
        flex-basis: 100%;
        padding-left: 0;
        list-style-type: none;
        .menu-item{
            display: flex;
            flex-wrap: wrap;
            margin-top:0;
            flex-shrink: 0;
            align-items: center;

            @media (min-width: 992px){
                background-color:transparent;
                border-top:none;
                position: relative;
                padding:0;
                margin-left:0;
            }

            &:not(:first-child){
                margin-left: 0.825rem;
            }

            &:last-child{
                margin-right: 0.825rem;
                border-right: 1px solid #dddddd;
                padding-right:1rem;
            }

            // /* Children */
            .menu_list__child-menu{
                display: none;
                
                .menu-item{
                    margin-right:0;
                    padding-right:0;
                    border-right:none;
                    &:last-child{
                        border-right: none;
                    }
                }
            }



          
        }
        
     

        .menu_link{
            flex-grow: 1;
            padding: 0.825rem 1.5rem;
            font-size: 1rem;
            text-decoration: none;
            color: #333333;

            @media (min-width:992px){
                padding:0;
                text-indent: 0 !important;
            }

            &:hover{
                text-decoration: underline;
                color: #006298;
            }
        }

        .menu_toggle{
            background: transparent;
            border: none;
            height: 1.2375rem;
            width: 1.2375rem;
            padding: 0;
            border-left: none;
            margin-left: 0.25rem;
            border-radius: 999rem;

            i{
                padding: 4px;
                height: 1.2375rem;
                width: 1.2375rem;
                /* margin-left: .25rem; */
                border-radius: 999rem;
                /* color: #333; */
                border-left: none;

                &:hover{
                    background-color: #006298;
                    color: #ffffff;
                }
            }
    
        }

        .menu_list__child-menu[aria-hidden="false"]{
            position: absolute;
            top: 2.5rem;
            left: 0;
            width: 16rem;
            margin: 0;
            padding: 0.5rem 0;
            -webkit-box-shadow: 0 1px 3px 2px rgb(0 0 0 / 7%);
            box-shadow: 0 1px 3px 2px rgb(0 0 0 / 7%);
            background-color: #ffffff;
            z-index: 999;
            flex-basis: 100%;
            padding-left: 0;
            list-style-type: none;

            li{
                &:not(:first-child){
                    margin-left: 0;
                }
            }

            a{
                padding: 0.5rem 1rem;
                text-decoration: none;
                color: #333333;
                display: block;

                &:hover{
                    background-color: #006298;
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
        
    }
}

.global-btn{
    background: none;
    border: 0.125rem solid #dddddd;     
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    padding: 0;
}

.search-toggle{
    position: absolute;
    width: 2.5rem;
    height: 2.1rem;
    right: 0;
    top: -1px;

    @media (min-width:768px){
        top:-1px;
    }

    @media (min-width:992px){
        position: relative;
        top: auto;
        right: auto;
        border-color: transparent;
        margin-left: 0.25rem;
    }

    svg{
        width: 0.9rem;
        height: 0.9rem;
    }

    &:hover{
        background-color: #006298;
        border-color: #006298;
        color: #ffffff;
    }
}

.search-box[aria-hidden="true"]{
    display: none !important;
}

.search-box{
    position: relative;
    margin-top: 1rem;
    background-color: #fafafa;
    padding: 1rem 1.5rem;
    border-top: 1px solid #eaeaea;
    // left: -1.5rem;
    width: calc(100% + 3rem);
    margin-bottom: -1rem;

    .btn-search{
        flex-grow: 1;
        z-index: 200;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        white-space: nowrap;
    }

    @media (min-width: 768px){
        position: absolute;
        top: 3.1rem;
        left: auto;
        right: 0;
        margin: 0;
        padding: 1rem;
        -webkit-box-shadow: 0 1px 3px 2px rgb(0 0 0 / 7%);
        box-shadow: 0 1px 3px 2px rgb(0 0 0 / 7%);
        background-color: #ffffff;
        z-index: 999;
        max-width: 24rem;
    }
    @media (max-width:768px){
        &:before{
            content: " ";
            position: absolute;
            z-index: -1;
            top: 0;
            left: -100%;
            bottom: 0;
            right: -100%;
            background-color: #fafafa;
            margin-top:-1px;
            border-top:1px solid #eaeaea;
        }
    }


}



