.button-primary{
    background-color: #006298;
    border: .125rem solid #006298;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    position: relative;
    height: 2.5rem;
    padding: 0 .75rem;
    display: inline-flex;
    align-items: center;
    transition: box-shadow .2s ease;
}

.menu-button{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    border-left: 1px solid #dddddd;
    border-top: none;
    border-right: none;
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}